*.swp
*.log
*.lock

.idea

modules/codemirror/lib/codemirror.js
modules/codemirror/package.json
package-lock.json

dist
dist-dev
node_modules
modules/pako/dist
modules/codemirror/bin
modules/jshint
modules/execon
coverage

!modules/pako/dist/paco.min.js
!modules/jshint/dist
!modules/jshint/package.json
!modules/jshint/README.md
