*.swp
dist
dist-dev
node_modules
npm-debug.log
yarn.lock

modules/pako/dist
!modules/pako/dist/paco.min.js

modules/codemirror/bin
modules/codemirror/lib/codemirror.js
modules/codemirror/package.json

modules/execon

package-lock.json

