*.swp
dist
dist-dev
node_modules
npm-debug.log
legacy
server_

modules/pako/dist
!modules/pako/dist/paco.min.js

modules/codemirror/bin
modules/codemirror/lib/codemirror.js
modules/codemirror/package.json

package-lock.json

