*.config.*
*.log
*.lock

.*
./src/index.js

bower.json
webpack.config.js

client
modules/execon
modules/jshint
coverage

!.jshintrc
!client/codemirror
!modules/jshint/dist
!modules/jshint/package.json
!modules/jshint/README.md
