.*
!.jshintrc
./src/index.js
bower.json
webpack.config.js
yarn-error.log

client
!client/codemirror
modules/execon

modules/jshint
!modules/jshint/dist
!modules/jshint/package.json
!modules/jshint/README.md

coverage
*.config.*
